<!DOCTYPE html>
<html lang="en">

<head>
	<title>Deep Whaling</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://use.fontawesome.com/3cfd69bfa7.js"></script>
	<link rel="stylesheet" href="social.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script>
		var counter = 1;

		function addLayer(divName) {
			var newdiv = document.createElement('div');
			newdiv.innerHTML = "<label for=\"layer" + (counter + 1) + "\">Layer " + (counter + 1) + ":</label> <input type=\"text\" value=\"10\" class=\"form-control\" id=\"layer" + (counter + 1) + "\"><p>neurons</p>";
			document.getElementById(divName).appendChild(newdiv);
			counter++;
			console.log(counter);
		}

		function form_to_json() {
			var data = {"layers": [], "iterations": 0, "dataset": "----"}
			var count = 1;
			var layer = document.getElementById("layer" + count);
			while (layer != null) {
				data["layers"].push({"size": parseInt(layer.value)});
				count += 1;
				layer = document.getElementById("layer" + count);
			}
			data["iterations"] = parseInt(document.getElementById("iters").value);
			data["dataset"] = document.getElementById("dataset").value;

			console.log(data);

			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/runnetwork", true);
			xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

			// send the collected data as JSON
			xhr.send(JSON.stringify(data));

			xhr.onloadend = function () {
			  // done
			};
			window.location.href = "/results";
		}
	</script>
	<style>
		/* Remove the navbar's default margin-bottom and rounded borders */

		.navbar {
			margin-bottom: 0;
			border-radius: 0;
		}
		/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

		.row.content {
			height: 450px
		}
		/* Set gray background color and 100% height */

		.sidenav {
			padding-top: 20px;
			background-color: #f1f1f1;
			height: 100%;
		}

		.main-body {
			overflow: auto;
			padding-bottom: 100px;
			height: 100%;
		}

		footer {
			position: fixed;
			bottom: 0;
			width: 100%;
			background-color: #555;
			color: white;
			padding: 15px;
			margin-top: -95px;
			/* negative value of footer height */
			height: 95px;
		}
		/* On small screens, set height to 'auto' for sidenav and grid */

		@media screen and (max-width: 767px) {
			.sidenav {
				height: auto;
				padding: 15px;
			}
			.row.content {
				height: auto;
			}
		}
	</style>
</head>

<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Logo</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="results.html">Progress/Results</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="https://www.holbertonschool.com"><span class="#"></span> Holberton School</a></li>
					<li><a href="https://www.docker.com"><span class="#"></span> Docker</a></li>
					<li><a href="https://github.com/butcallmeJo/DockerCon-Challenge"><span class="#"></span> Project on Github</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid main-body">
		<div class="row">
			<div class="col-sm-12 text-left">
				<h1>Deep Whaling</h1>
				<h4>About:</h4>
				<p><strong>Deep Whaling</strong> is an open source GUI to run <a href="http://keras.io/">Keras</a>,
					a highly modular neural networks library while running in a <a href="https://www.docker.com">Docker</a>
					container. This makes <strong>Deep Whaling</strong> a very easy tool to learn about deep learning!</p>
				<h4>How to use <strong>Deep Whaling</strong>:</h4>
				<p>To run <strong>Deep Whaling</strong>, you just have to follow 4 easy steps:</p>
				<ul>
					<li>select the amount of layers you want.</li>
					<li>Input how many neurons you want for each layer</li>
			</div>
		</div>
		<div class="row">
			<form role="form" method="post" action="runnetwork">
				<div class="col-sm-6 text-left">
					<div id="add_layer" class="form-group">
						<input type="button" value="Add another layer" class="btn btn-default" onclick="addLayer('layer');">
						</button>
					</div>
					<div id="layer" class="form-group">
						<!-- JS added. put notes here TODO delete button -->
						<label for="layer1">Layer 1:</label>
						<input type="text" value="10" class="form-control" id="layer1">
						<p> neurons</p>
					</div>
					<div class="form-group">

					</div>
				</div>
				<div class="col-sm-6 text-left">
					<div id="datasets" class="form-group">
						<label for="dataset">Select dataset:</label>
						<select class="form-control" id="dataset">
							<option>mnist</option>
							<option>-</option>
							<option>-</option>
							<option>-</option>
						</select>
					</div>
					<div id="iterations" class="form-group">
						<label for="iters">iterations:</label>
						<input type="text" value="10" class="form-control" id="iters">
						<p> iterations</p>
					</div>
				</div>
				<div class="col-sm-12 text-center">
					<!-- onclick="form_to_json()" -->
					<button type="button" class="btn btn-success" onclick="form_to_json()">Run Network</button>
				</div>
			</form>
		</div>
	</div>
	<footer class="footer">
		<div class="container-fluid text-left">
			<div class="row">
				<div class="col-sm-3 pull-left">
					<a class="btn btn-block btn-social btn-github" href="https://github.com/johnSerrano">
						<span class="fa fa-github"></span>John Serrano
					</a>
				</div>
				<div class="col-sm-3 pull-right">
					<a class="btn btn-block btn-social btn-github" href="https://github.com/butcallmejo">
						<span class="fa fa-github"></span>Josquin Gaillard
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 pull-left">
					<a class="btn btn-block btn-social btn-twitter" href="https://twitter.com/johnSerrano2">
						<span class="fa fa-twitter"></span>John Serrano
					</a>
				</div>
				<div class="col-sm-3 pull-right">
					<a class="btn btn-block btn-social btn-twitter" href="https://twitter.com/butcallmejo">
						<span class="fa fa-twitter"></span>Josquin Gaillard
					</a>
				</div>
			</div>
		</div>
	</footer>

</body>

</html>
