<!DOCTYPE html>
<html lang="en">

<head>
	<title>Deep Whaling</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://use.fontawesome.com/3cfd69bfa7.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function() {
			var layers = $(".layer");
			for (var i = 0; i < layers.length; i++) {
				link_layer(layers[i]);
			}
		});
		var counter = 1;

		function link_layer(layer) {
			var selector = findClass(layer, "layer-type");
			selector.addEventListener("change", function() {
				var denseoptions = findClass(layer, "layer-dense-options");
				var convoptions = findClass(layer, "layer-convolutional2d-options");
				var pooloptions = findClass(layer, "layer-maxpooling-options");
				denseoptions.style.display = 'none';
				convoptions.style.display = 'none';
				pooloptions.style.display = 'none';
				switch (selector.value) {
					case "dense":
						denseoptions.style.display = 'block';
						break;
					case "conv2d":
						convoptions.style.display = 'block';
						break;
					case "pool":
						pooloptions.style.display = 'block';
						break;
				}
			});

			var new_button = findClass(layer, "new-button");
			new_button.addEventListener("click", function() {
				addLayer(layer);
			})
			var del_button = findClass(layer, "del-button");
			del_button.addEventListener("click", function() {
				var layers = $(".layer");
				if (layers.length == 1) {
					return;
				}
				document.getElementById("layers_contain").removeChild(layer);
			})
		}

		function addLayer(pre_layer) {
			var layer = document.createElement("div");
			document.getElementById("layers_contain").insertBefore(layer, pre_layer.nextSibling);
			layer.className = "well well-lg layer";
			layer.id = "active";
			//There's probably a better way to do this
			$("#active").html(
			'<div class="form-group">\
				<div class="Row">\
				  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">\
				    <label for="layer">Layer</label>\
				  </div>\
				  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignright">\
				    <div class="material-icons new-button">add</div>\
				    <div class="material-icons del-button">clear</div>\
				  </div>\
				  <div class="form-group layer-types">\
				    <label>Layer type:</label>\
				    <select class="form-control layer-type">\
				      <option value="dense">Dense</option>\
				      <option value="conv2d">Convolutional 2D</option>\
				      <option value="pool">Max Pooling</option>\
				    </select>\
				  </div>\
				  <div class="layer-dense-options">\
				    <label>Number of neurons:</label>\
				    <input type="text" value="10" class="form-control dense-size">\
				  </div>\
				  <!-- hidden by default -->\
				    <div class="layer-convolutional2d-options"  style="display: none;">\
				    <div class="row">\
				      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">\
				        <label>Filter size:</label>\
				        <div class="row">\
				          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">\
				            <div class="input-group">\
				              <span class="input-group-addon" id="basic-addon1">X</span>\
				              <input type="text" value="5" class="form-control filter-size-x">\
				            </div>\
				          </div>\
				          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">\
				            <div class="input-group">\
				              <span class="input-group-addon" id="basic-addon1">Y</span>\
				              <input type="text" value="5" class="form-control filter-size-y">\
				            </div>\
				          </div>\
				        </div>\
				      </div>\
				      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">\
				        <label>Stride:</label>\
				        <div class="row">\
				          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">\
				            <div class="input-group">\
				              <span class="input-group-addon" id="basic-addon1">X</span>\
				              <input type="text" value="1" class="form-control conv-stride-x">\
				            </div>\
				          </div>\
				          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">\
				            <div class="input-group">\
				              <span class="input-group-addon" id="basic-addon1">Y</span>\
				              <input type="text" value="1" class="form-control conv-stride-y">\
				            </div>\
				          </div>\
				        </div>\
				      </div>\
				    </div>\
				    <br>\
				    <label>Number of filters:</label>\
				    <input type="text" value="10" class="form-control convolutional-size">\
				  </div>\
				  <!-- hidden by default -->\
				  <div class="layer-maxpooling-options" style="display: none;">\
				    <label>Stride:</label>\
				    <div class="row">\
				      <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">\
				        <div class="input-group">\
				          <span class="input-group-addon" id="basic-addon1">X</span>\
				          <input type="text" value="1" class="form-control pool-stride-x">\
				        </div>\
				      </div>\
				      <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">\
				        <div class="input-group">\
				          <span class="input-group-addon" id="basic-addon1">Y</span>\
				          <input type="text" value="1" class="form-control pool-stride-y">\
				        </div>\
				      </div>\
				    </div>\
				  </div>\
				</div>\
			</div>'
			);
			layer.id = "inactive";
			link_layer(layer);
		}

		function makeid() {
			var text = "";
			var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

			for (var i = 0; i < 10; i++)
				text += possible.charAt(Math.floor(Math.random() * possible.length));

			return text;
		}

		function form_to_json() {
			var room = makeid();

			var data = {
				"layers": [],
				"iterations": 0,
				"dataset": "----",
				"room": room
			};

			var layers = $(".layer");
			for (var i=0 ; i<layers.length ; i++) {
				data["layers"].push({
					"type": findClass(layers[i], "layer-type").value,//TODO
					"dense-size": parseInt(findClass(layers[i], "dense-size").value), //TODO
					"conv-size": parseInt(findClass(layers[i], "convolutional-size").value), //TODO
					"conv-x": parseInt(findClass(layers[i], "filter-size-x").value), //TODO
					"conv-y": parseInt(findClass(layers[i], "filter-size-y").value), //TODO
					"stride-x": parseInt(findClass(layers[i], "conv-stride-x").value), //TODO
					"stride-y": parseInt(findClass(layers[i], "conv-stride-y").value), //TODO
					"pool-x": parseInt(findClass(layers[i], "pool-stride-x").value), //TODO
					"pool-y": parseInt(findClass(layers[i], "pool-stride-y").value), //TODO
				})
			}

			data["iterations"] = parseInt(document.getElementById("iters").value);
			data["dataset"] = document.getElementById("dataset").value;
			data["loss"] = document.getElementById("loss_function").value;

			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/runnetwork", true);
			xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

			// send the collected data as JSON
			xhr.send(JSON.stringify(data));

			xhr.onloadend = function() {
				// done
			};
			window.location.href = "/results?room=" + room;
			console.log(data);
		}

		// http://stackoverflow.com/questions/12166753/how-to-get-child-element-by-class-name#12166811
		function findClass(element, className) {
			var foundElement = null,
				found;

			function recurse(element, className, found) {
				for (var i = 0; i < element.childNodes.length && !found; i++) {
					var el = element.childNodes[i];
					var classes = el.className != undefined ? el.className.split(" ") : [];
					for (var j = 0, jl = classes.length; j < jl; j++) {
						if (classes[j] == className) {
							found = true;
							foundElement = element.childNodes[i];
							break;
						}
					}
					if (found)
						break;
					recurse(element.childNodes[i], className, found);
				}
			}
			recurse(element, className, false);
			return foundElement;
		}
	</script>
	<style>
		.row.content {
			height: 450px
		}

		.navbar {
			margin-bottom: 0;
			border-radius: 0;
		}

		.sidenav {
			padding-top: 20px;
			background-color: #f1f1f1;
			height: 100%;
		}

		.main-body {
			overflow: auto;
			padding-bottom: 100px;
			height: 100%;
		}

		.alignright {
			text-align: right;
		}

		footer {
			position: fixed;
			bottom: 0;
			width: 100%;
			background-color: #555;
			color: white;
			padding: 15px;
			margin-top: -95px;
			height: 95px;
		}

		@media screen and (max-width: 767px) {
			.sidenav {
				height: auto;
				padding: 15px;
			}
			.row.content {
				height: auto;
			}
		}
	</style>
</head>

<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Neural Image Classification</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="https://github.com/johnSerrano/Neural-GUI"><span class="#"></span> Project on Github</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container main-body">
		<h1>Create Network</h1>
		<div class="row">
			<form role="form" method="post">
				<div id="layers_contain" class="col-sm-6 text-left">
					<div class="well well-lg layer">
						<div class="form-group">
							<div class="Row">
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<label for="layer">Layer</label>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignright">
									<div class="material-icons new-button">add</div>
									<div class="material-icons del-button">clear</div>
								</div>
								<div class="form-group layer-types">
									<label>Layer type:</label>
									<select class="form-control layer-type">
										<option value="dense">Dense</option>
										<option value="conv2d">Convolutional 2D</option>
										<option value="pool">Max Pooling</option>
									</select>
								</div>
								<div class="layer-dense-options">
									<label>Number of neurons:</label>
									<input type="text" value="10" class="form-control dense-size">
								</div>
								<!-- hidden by default -->
								<div class="layer-convolutional2d-options" style="display: none;">
									<!-- <div class="layer-convolutional2d-options" > -->
									<div class="row">
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<label>Filter size:</label>
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
													<div class="input-group">
														<span class="input-group-addon" id="basic-addon1">X</span>
														<input type="text" value="5" class="form-control filter-size-x">
													</div>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
													<div class="input-group">
														<span class="input-group-addon" id="basic-addon1">Y</span>
														<input type="text" value="5" class="form-control filter-size-y">
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<label>Stride:</label>
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
													<div class="input-group">
														<span class="input-group-addon" id="basic-addon1">X</span>
														<input type="text" value="1" class="form-control conv-stride-x">
													</div>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
													<div class="input-group">
														<span class="input-group-addon" id="basic-addon1">Y</span>
														<input type="text" value="1" class="form-control conv-stride-y">
													</div>
												</div>
											</div>
										</div>
									</div>
									<br>
									<label>Number of filters:</label>
									<input type="text" value="10" class="form-control convolutional-size">
								</div>
								<!-- hidden by default -->
								<div class="layer-maxpooling-options" style="display: none;">
									<label>Stride:</label>
									<div class="row">
										<div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">
											<div class="input-group">
												<span class="input-group-addon" id="basic-addon1">X</span>
												<input type="text" value="1" class="form-control pool-stride-x">
											</div>
										</div>
										<div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">
											<div class="input-group">
												<span class="input-group-addon" id="basic-addon1">Y</span>
												<input type="text" value="1" class="form-control pool-stride-y">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 text-left">
					<div class="well well-lg">
						<div id="datasets" class="form-group">
							<label for="dataset">Select dataset:</label>
							<select class="form-control" id="dataset">
								<option>mnist</option>
								<option>cifar 10</option>
							</select>
						</div>
						<div id="iterations" class="form-group">
							<label for="iters">iterations:</label>
							<input type="text" value="10" class="form-control" id="iters">
						</div>
						<div id="loss_functions" class="form-group">
							<label for="loss_function">Loss Function:</label>
							<select class="form-control" id="loss_function">
								<option value="mean_absolute_error">Mean Absolute Error</option>
								<option value="mean_squared_error">Mean Squared Error</option>
								<option value="mean_absolute_percentage_error">Mean Absolute Percentage Error</option>
								<option value="mean_squared_logarithmic_error">Mean Squared Logarithmic Error</option>
								<option value="squared_hinge">Squared Hinge</option>
								<option value="hinge">Hinge</option>
								<option value="binary_crossentropy">Binary Crossentropy (Logloss)</option>
								<option value="categorical_crossentropy">Categorical Crossentropy</option>
								<option value="poisson">Poisson</option>
								<option value="cosine_proximity">Cosine Proximity</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-12 text-center">
					<button type="button" class="btn btn-success" onclick="form_to_json()">Run Network</button>
				</div>
			</form>
		</div>
	</div>

</body>

</html>
